@import url(https://fonts.googleapis.com/css?family=Sansita+One);
.rname {
	font-family: 'Sansita One', cursive;
}

.pagecontent, 
.menutable {
	background: #efefef;
}

.menutable {
	text-align: center;
}

.beveragemenu .pink {
	color: pink; 
}

.beveragemenu .title {
 	text-align: right;
}

.beveragemenu h3 {
	text-align: center;
}
body {
	font-family: sans-serif;
	color: #515151;
}

h1 {
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #6813a4;
	padding: 25px 0px 25px 0px;
	text-align: center;
}

a {
	color: #e61fdf;
}

a:visited {
	color: #0c625b;
}

a:active {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	color: #871183;
}

.required {
	font-weight: bold;
}

address {
	font-weight: bold;
	font-size: 14px;
	margin: 2px 0px 2px 0px;
	color: #222331;
	text-align: center;
}

.footer p {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #4eaf7e;
}


