@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.os {
	font-family: 'Open Sans', sans-serif;
}

table {
	font-family: helvetica, arial, sans-serif;
}

th {
	background: #147283; 
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .01em;
}

.albumart {
	height: 350px;
	width: 350px;
	background: url(http://f1.bcbits.com/img/a1194397069_16.jpg) no-repeat; 
	margin: 0 auto;
	background-size: cover;
}

.albumcover {
	height: 350px;
	width: 350px;
	margin:0 auto;
	display: block;

}

.members {
	font-style: italic;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #eabcff;
}

table td {
	font-style: italic;
}

table {
	background-color: #ffde8e;
}